:root {
  //orange
  --color-orange-50: #ffcea3;
  --color-orange-100: #ff9233;
  --color-orange-400: #ff871f;
  --color-orange-500: #FF7700;
  --white-color: #FFFFF;
  --black-color: #2E2F33;
  --green-color: #2FB675;
  --brown-color: #836656;
}

html {
  font-size: 62.5%;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

input,
button,
select,
textarea,
optgroup,
option {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  font-style: inherit;
  color: inherit;
}

a:visited {
  color: inherit;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 2rem;
  color: #ffff;
}